@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thibault.verschueren@sirus.be">thibault.verschueren@sirus.be</a><br />
    <strong>Marketing:</strong> <a href="mailto:thibault.verschueren@sirus.be">thibault.verschueren@sirus.be</a>
</address>